# Home made custom exception

env/scripts/jenkins/*.nse
env/scripts/jenkins/tls.lua

*.csv
*.ipynb_checkpoints
data/*
notebooks/.ipynb_checkpoints
*mlruns
# .editorconfig
**/*.log
docker-dive-stats.json
scan-report*.md
results.sarif
# reports/
megalinter-reports/
output/
vue-client/.output/
.opencommit-commitlint
.config/

.netlify/
.vercel/

mise.local.toml

# dotenv environment variable files

.env
.env.development.local
.env.test.local
.env.production.local
.env.secrets
.env.local

# Diagnostic reports (https://nodejs.org/api/report.html)

report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# Runtime data

pids
_.pid
_.seed
\*.pid.lock

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Generate files as they might contains credentials
/pip.conf

# terraform

.infracost/
.terraform/
.tfsec/

# Latex
*.aux
*.fdb_latexmk
*.fls
*.synctex.gz
_minted-*/
*.4ct
*.tmp
*.xref
*.lg
*.idv
*.dvi
#code.css
*.4tc
*.4ct

# To avoid adding encrypted files with git add -u or -a

.checkstyle

*~
*.swp

lib/
.grunt/
dist/
*.iml
.agignore
.lvimrc
/tmp/
.tmp
.sass-cache
.sizecache.json
.groovy/
*.bak
*.log
gui/target_junit/
*rebel.xml
#/docs/
.gradle

# javascript
node/
.bower/
bower_components/
npm/
.node_cache/
.node_tmp/
.nuxt/

# sonar
.scannerwork/
.ssh/

.idea/*
.idea/workspace.xml
.project
.settings/
.classpath
target-eclipse/
.tern-project

# ansible
*.retry
vault.passwd
ansible.key

roles/*

# ara temporary and autogenerated files
.ara
out/

#============= https://github.com/github/gitignore/blob/master/Python.gitignore

# Byte-compiled / optimized / DLL files
__pycache__/
.mypy_cache/
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
_build/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
#lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
tests/.pytest_cache/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# UV
#   Similar to Pipfile.lock, it is generally recommended to include uv.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
# Uncommenting to include uv.lock in version control
# uv.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock
#poetry.toml

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#   pdm recommends including project-wide configuration in pdm.toml, but excluding .pdm-python.
#   https://pdm-project.org/en/latest/usage/project/#working-with-version-control
#pdm.lock
#pdm.toml
.pdm-python
.pdm-build/

# pixi
#   Similar to Pipfile.lock, it is generally recommended to include pixi.lock in version control.
#pixi.lock
#   Pixi creates a virtual environment in the .pixi directory, just like venv module creates one
#   in the .venv directory. It is recommended not to include this directory in version control.
.pixi

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
#.envrc
env/
.direnv/
.devenv/
.venv/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
# Please don't use spyder
# Spyder project settings
.spyderproject
.spyproject
# vscode
#.vscode
# pycharm
.idea

# Cython debug symbols
cython_debug/

# Mac storage artifact
.DS_STORE
*/artifacts/*

# Overall ignored files
local/
./*.ipynb

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# Ruff stuff:
.ruff_cache/

# PyPI configuration file
.pypirc

# sonar
.scannerwork/
.ssh/

#============= https://github.com/github/gitignore/blob/master/Node.gitignore

# Logs
logs
_.log
*.log
npm-debug.log*
npm-debug.log_
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for instrumented libs generated by jscoverage/JSCover
lib-cov

# Coverage directory used by tools like istanbul
coverage

# nyc test coverage
.nyc_output

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Bower dependency directory (https://bower.io/)
bower_components

# node-waf configuration
.lock-wscript

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
jspm_packages/

# Typescript v1 declaration files
typings/

# TypeScript cache

\*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache

.stylelintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

#============= https://github.com/github/gitignore/blob/master/Java.gitignore

# Compiled class file
*.class

# BlueJ files
*.ctxt

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

#============= ansible

roles/*

*.retry

vault.passwd
ansible.key
vault.passwd

# ara temporary and autogenerated files
.ara
out/
target/

# To avoid adding encrypted files with git add -u or -a
.idea/*

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#============= https://github.com/github/gitignore/blob/master/Maven.gitignore

target/
pom.xml.*
release.properties
dependency-reduced-pom.xml
buildNumber.properties
#.mvn/timing.properties

# Cursor
#  Cursor is an AI-powered code editor. `.cursorignore` specifies files/directories to
#  exclude from AI features like autocomplete and code analysis. Recommended for sensitive data
#  refer to https://docs.cursor.com/context/ignore-files
.cursorignore
.cursorindexingignore

# Marimo
marimo/_static/
marimo/_lsp/
__marimo__/

# wrangler project

.dev.vars
.wrangler/
.vercel
